.question-options-row {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    height: 40px;
}

.option {
    display: flex;
    max-width: 50%;
    font-size: 15px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    width: 50%;
    justify-content: space-around;
}

.option text {
    max-width: 25%;    
}

.option text, .question text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.question {
    flex: 1;
    max-width: 40%;
    width: 40%;
    font-weight: 500;
}

.update-questions-options-container{
    max-width: 870px;
}

header.update-questions-header {
    display: flex;
    align-items: center;
    height: 50px;
}

.edit-question-options-dialog{
    min-width: 600px
}

/* .edit-options {
    display: flex;
    flex-direction: column;
} */