.manage-admins-page-holder {
    margin-top: 25px;
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
}

.manage-admins-page-holder .paper-sheet>div {
    height: 100%;
    width: 100%;
}

.manage-admins-page-holder .paper-sheet {
    height: 90%;
    width: 50%;
    max-width: 450px;
}

.manage-admins-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px;
}

.admin-info {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: 52px;
}

.actions-holder {
    display: flex;
}

.admin-statue {
    background-color: rgba(204, 0, 102, 0);
    height: 10px;
    width: 10px;
    border-radius: 75px;
}

.suspended-admin {
    border: 3px solid red;
}

.active-admin {
    border: 3px solid #00a152;
}